html {
    font-size: 62.5%;
}

/* html全体のサイズを変えることでremを一括コントロール */

@media screen and (min-width: 768px){
    .main_center{
        background-image: url("./img/LINE_ALBUM_2022.2.15_220216.jpg");
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 50%;
    }
    .main{
        height: 80rem;
    }
    /* .fade {
        padding-top: 5rem;
    } */
    .main_center{
        background-image: url(./img/10670633i.jpg);
    }
    .question1{
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 3rem!important;
    }
    .question2{
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 3rem!important;
    }
    .question3{
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 3rem!important;
    }
    .question4{
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 3rem!important;
    }
    .label1{
        width: 15rem;
    }
    
    .label2{
        width: 15rem;
    }
    .label3{
        width: 15rem;
    }
    .label4{
        width: 15rem;
    }
    .modal{
        top: 100%!important;
        height: 90%!important;
    }
    .circle-border {
        top: -50%!important;
        left:40%!important;
    }
    .fade {
        left: 0%;
    }

    .question_img {
        border: 1px solid gold;
        text-align: left !important;
        margin-left: 1rem!important;
        position: relative!important;
    }
    
    .question_img img {
        border: 1px solid black!important;
        width: 26rem!important;
        height: auto!important;
    }

    .balloon{
        position: absolute!important;
        top: 0%!important;
        width: 45%!important;
        right: -1%!important;
        transform: rotate(29deg)!important;
    }

        
.balloon_text {
    position: absolute !important;
    top: 40%!important;
    right: 2%!important;
    font-size: 1.3rem!important;
    z-index: 2!important;
    transform: rotate(0deg)!important;
}



}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ----------コンテンツ幅を設定するための共通クラス--------- */

.wrapper {
    /* とりあえずこの値で */
    max-width: 120rem;
    /* 重要：paddingでwrapperのついたすべてのタグの左右幅をコントロール */
    padding: 0 3.2rem;
    margin: 0 auto;
}

/* ----------以下、mainのcssを実装----------------------- */

header {
    border: red 1px solid;
}

.header_inner {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    border: 1px solid gold;
    width: 23%;
}

.header_logo img {
    border: solid 1px black;
    height: auto;
}

.header_title{
    font-size: 2rem;
    margin-top: 2rem;
}

.progress {
    margin-top: 2rem;
    /* border: 1px solid red; */
}

.progress_list {
    position: relative;
    border: 1px solid blue;
    width: 50rem;
    margin-right: 0;
    margin-left: auto;
    max-width: 100%;
    display: flex;
    align-content: right;
}

.progress_item {
    font-size: 2rem;
    position: relative;
    text-align: center;
    width: 25%;
    font-weight: bold;
    border: 1px solid purple;
}

.progress_item:before {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem auto 1rem auto;
    content: "";
    text-align: center;
    border-radius: 50%;
    background-color: gray;
}

.progress_item:after {
    position: absolute;
    z-index: -1;
    top: 1.25rem;
    left: -50%;
    width: 100%;
    height: 0.5rem;
    content: "";
    background-color: gray;
}

.progress_item:first-child:after {
    content: none;
}

.progress_item.complete {
    color: goldenrod;
}

.progress_item.complete:before,
.progress_item.complete:after {
    background-color: goldenrod;
}

.main {
    border: 1px solid red;
    margin-top: 2rem;
    /* padding: 3rem; */
    position: relative;
    width: 100%;
    /* height: 1000rem; */
}

.main_center {
    border: 1px solid blue;
    width: calc(100% - 10rem);
    /* margin: auto; */
    width: 110rem;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
}

.fade {
    max-width: 100%;
    position: absolute;
    top: 3rem;
    /* left: 25%; */
    /* transform: translate(-50%, -50%); */
    transition: opacity 0.5s 0.5s ease;
}

.main_explanation{
    font-size: 2rem;
    line-height: 3rem;
    padding: 0rem 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.main_imgs {
    border: 1px solid purple;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.main_img {
    border: 1px solid gold;
}

.main_img img {
    border: 1px solid black;
    width: 15rem;
    height: auto;
}

.main_start {
    border: 1px solid purple;
    text-align: center;
    padding: 3rem;
}

.main_start button {
    width: 30rem;
    height: 5rem;
    cursor: pointer;
    background-color: aquamarine;
}

.date {
    border: 1px solid purple;
    margin: 1rem 0;
}

.date p {
    border: 1px solid greenyellow;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

.questions {
    border: 1px solid purple;
}

.question_title {
    border: 1px solid greenyellow;
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

.balloon{
    position: absolute;
    top: 0%;
    right: 11%;
    transform: rotate(20deg);
}

.balloon_text{
    position: absolute;
    top: 47%;
    right: 18%;
    font-size: 1.3rem;
    z-index: 2;
    transform: rotate(0deg);
}


.question_img {
    border: 1px solid gold;
    text-align: center;
    position: relative;
}

.question_img img {
    border: 1px solid black;
    width: 28rem;
    height: auto;
}

.options {
    border: 1px solid purple;
    /* display: flex;
    gap: 20rem;
    justify-content: center;
    padding: 1rem; */
}

/* 設問毎のボタンを区別する */
.question1{
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding: 1rem;
}
.question2{
    display: none;
    gap: 5rem;
    justify-content: center;
    padding: 1rem;
}
.question3{
    display: none;
    gap: 5rem;
    justify-content: center;
    padding: 1rem;
}
.question4{
    display: none;
    gap: 5rem;
    justify-content: center;
    padding: 1rem;
}
/* .btn2{
    display: none;
} */
label{
    display: none;
    width: 30rem;
    height: 5rem;
    color: #b20000;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: 2px solid #006dd9;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: 900;
}
.label1{
    display: block;
}
.label1:hover {
    background-color: #e2edf9;
}
.label2{
    display: none;
}
.label2:hover {
    background-color: #e2edf9;
}
/* .btn3{
    display: none;
} */
.label3{
    display: none;
}
.label3:hover {
    background-color: #e2edf9;
}
/* .btn4{
    display: none;
} */
.label4{
    display: none;
}
.label4:hover {
    background-color: #e2edf9;
}
/* .stop_day{
    pointer-events: none;
} */
.back {
    text-align: center;
    padding: 1rem;
}

.back button {
    background-color: aqua;
    cursor: pointer;
    width: 30rem;
    height: 5rem;
    font-size: 2rem;
}

.fade_in {
    opacity: 1;
    pointer-events: all;
}

.fade_out {
    opacity: 0;
    pointer-events: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background: #31a9ee;
    color: #ffffff;
}


/* .label1 {
    display: block;
    width: 30rem;
    height: 5rem;
    color: #b20000;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border: 2px solid #006dd9;
    border-radius: 5px;
} */

.modal {
    /* display: none; */

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    width: 92%;
    height: 54%;
    z-index: 2;
    border-radius: 4rem;

}

.modal_overlay {
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 68, 0.8);
}

.modal_contents {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal_contents div,p{
    line-height: 5.5rem;
    font-size: 3rem;
}

.btn_close {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #F5F5F8;
    float: right;
    margin-right: 25px;
    cursor: pointer;
    margin-top: 26px;
    margin-bottom: -45px;
}

.btn_close::before, .btn_close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 22px;
    background-color: #A3A3A4;
}

.btn_close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn_close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}




 /* loading------------------------------------- */

  /* KEYFRAMES */

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  
    /* ALTERNATING ORBITS */
  
    .spinner-box {
      /* display: none; */
      z-index: 11;
      position: absolute;
      width: 100%;
      height: 100%;
      /* background-color: #1d2630; */
      /* opacity: 0.6; */
      /* -webkit-transition: all 2s ;  */
      /* 2秒でフェードアウト */
            /* transition: all 2s ; */
    }
  
  .circle-border {
    position: absolute;
    top:-70%;
    left:45%;
    /* top: 25%; */
    /* left: 25%; */
    width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63, 128, 249);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,128,249,1) 100%);
    animation: spin .8s linear 0s infinite;
  }
  
  .circle-core {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    border-radius: 50%;
  }
  
  /* ローディング表示を消すための定義 */
  .spinner-box.loaded{
    opacity:0;
    visibility:hidden;
  }
  /* 診断結果画像 */
  .result_img{
      width: 20rem;
      height: 20rem;
  }
  .result_img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }