html{
    font-size: 62.5%;
}
/* html全体のサイズを変えることでremを一括コントロール */

 @media screen and (max-width: 767px) {
    html {
        font-size: 50%;
       
    }
}
body{
    box-sizing: border-box;
}

img {
    max-width: 100%;
  }

  /* ----------コンテンツ幅を設定するための共通クラス--------- */

  .wrapper{
      /* とりあえずこの値で */
    max-width: 120rem;
       /* 重要：paddingでwrapperのついたすべてのタグの左右幅をコントロール */
    padding: 0 3.2rem;
    margin: 0 auto;
  }